body {
	background-color: #CCCCCC;
	/*the color for the grey is #58585A
	  the color for the orange is #F1592A*/
}

a:hover {
	color: #32F9FF;
}

/*Code for Top Menu Bar*/
.topbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F1592A;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
}

/*Buffer between menu bar and content*/
.buffer {
    margin-top: 50px;
    color: black;
}